<div class="dedupe-wrap">
    <div class="dedupe-details row">
        <div class="organisation-unit-label col-sm-2">
            <span translate>Org unit:</span>
        </div>
        <div class="organisation-unit-name col-sm-4">
            <span ng-bind="::dedupeCtrl.details.orgUnitName"></span>
        </div>
        <div class="period-label col-sm-2">
            <span translate>Time period:</span>
        </div>
        <div class="period-name col-sm-4">
            <span ng-bind="::dedupeCtrl.details.timePeriodName"></span>
        </div>
    </div>
    <div class="dedupe-data row">
        <div class="dedupe-data-table col-sm-6">
            <div class="table-header row">
                <div class="col-sm-4">
                    <span translate>Agency</span>
                </div>
                <div class="col-sm-4">
                    <span translate>Partner</span>
                </div>
                <div class="col-sm-4">
                    <span translate>Value</span>
                </div>
            </div>
            <div class="table-data row" ng-repeat="dedupeRecord in ::dedupeCtrl.data">
                <div class="agency-name col-sm-4">
                    <span ng-bind="::dedupeRecord.agency"></span>
                </div>
                <div class="partner-name col-sm-4">
                    <span ng-bind="::dedupeRecord.partner"></span>
                </div>
                <div class="value col-sm-4">
                    <span ng-bind="::dedupeRecord.value"></span>
                </div>
            </div>
        </div>
        <div class="dedupe-resolve-actions col-sm-6" ng-form>
            <div class="resolve-header row">
                <div class="col-sm-12">
                    <span translate>How to resolve?</span>
                </div>
            </div>
            <div class="resolve-actions row">
                <div class="resolve-action-max col-sm-12">
                    <label>
                        <input value="max" type="radio" ng-model="dedupeCtrl.resolve.type" ng-required="!dedupeCtrl.resolve.type" ng-change="dedupeCtrl.resolveWithMax()">
                        <span translate>Use max</span>
                        <span class="value" ng-bind="'(' + dedupeCtrl.getMax() + ')'"></span>
                    </label>
                </div>
            </div>
            <div class="resolve-actions row">
                <div class="resolve-action-sum col-sm-12">
                    <label>
                        <input value="sum" type="radio" ng-model="dedupeCtrl.resolve.type" ng-required="!dedupeCtrl.resolve.type" ng-change="dedupeCtrl.resolveWithSum()">
                        <span translate>Use sum</span>
                        <span class="value" ng-bind="'(' + dedupeCtrl.getSum() + ')'"></span>
                    </label>
                </div>
            </div>
            <div class="resolve-actions row">
                <div class="resolve-action-custom col-sm-12">
                    <label>
                        <input value="custom" type="radio" ng-model="dedupeCtrl.resolve.type" ng-required="!dedupeCtrl.resolve.type" ng-change="dedupeCtrl.resolveWithCustom()">
                        <span translate>Use a custom value</span>
                    </label>
                    <span class="value">
                        <input type="number" min="0" ng-model="dedupeCtrl.resolve.value" ng-required="dedupeCtrl.resolve.type == 'custom'" ng-change="dedupeCtrl.resolve.type = 'custom'" />
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
