.dedupe-resolve-actions
  border: 1px solid transparent
  border-radius: 5px
  padding: 10px

  &.ng-invalid.ng-dirty
    background-color: rgba(255, 0, 0, .025)
    border-color: red

  &.ng-valid.ng-dirty
    background-color: rgba(0,255,0,.025)
    border-color: green
