<div class="dedupe-wrap well" ng-form name="dedupeRecordForm">
    <div class="dedupe-details">
        <div class="row">
            <div class="dataelement-name col-sm-8">
                <span ng-bind="::dedupeCtrl.dedupeRecord.details.dataElementName"></span>
            </div>
            <div class="disaggregation-name col-sm-4">
                <span ng-bind="::dedupeCtrl.dedupeRecord.details.disaggregation"></span>
            </div>
        </div>
        <div class="row">
            <div class="organisation-unit-name col-sm-6" orgunit-parents-hover org-unit-id="::dedupeCtrl.dedupeRecord.details.orgUnitId">
                <span ng-bind="::dedupeCtrl.dedupeRecord.details.orgUnitName"></span>
            </div>
            <div class="period-label col-sm-2">
                <span translate>Time period:</span>
            </div>
            <div class="period-name col-sm-4">
                <span ng-bind="::dedupeCtrl.dedupeRecord.details.timePeriodDisplayName"></span>
            </div>
        </div>
        <div ng-show="::dedupeCtrl.dedupeRecord.details.dedupeType == 'CROSSWALK'" class="row">
            <div class="dedupe-type">
                DSD-TA Cross dedupe
            </div>
        </div>
    </div>
    <div class="dedupe-data row">
        <div class="dedupe-data-table col-sm-7">
            <div class="table-header row">
                <div class="col-sm-3">
                    <span translate>Agency</span>
                </div>
                <div class="col-sm-4">
                    <span translate>Partner</span>
                </div>
                <div class="col-sm-3">
                    <span translate>Mechanism</span>
                </div>
                <div class="col-sm-2">
                    <span translate>Value</span>
                </div>
            </div>
            <div class="table-data row"
                 ng-repeat="dedupeRecord in ::dedupeCtrl.dedupeRecord.data | filter: {display: true}"
                 ng-class-odd="'odd'"
                 ng-class-even="'even'">
                <div class="agency-name col-sm-3">
                    <span ng-bind="::dedupeRecord.agency"></span>
                </div>
                <div class="partner-name col-sm-4">
                    <span ng-bind="::dedupeRecord.partner"></span>
                </div>
                <div class="mechanism-number col-sm-3">
                    <span ng-bind="::dedupeRecord.mechanismNumber"></span>
                </div>
                <div class="value col-sm-2">
                    <span ng-bind="::dedupeRecord.value"></span>
                </div>
            </div>
        </div>
        <div class="dedupe-resolve-actions col-sm-5">
            <div class="resolve-wrap">
                <div class="resolve-header row">
                    <div class="col-sm-12">
                        <span translate>How to resolve?</span>
                    </div>
                </div>
                <div class="resolve-actions row" ng-show="dedupeCtrl.dedupeRecord.getDedupeType() == 'PURE'">
                    <div class="resolve-action-max col-sm-12">
                        <label>
                            <input value="max" type="radio" ng-model="dedupeCtrl.dedupeRecord.resolve.type" ng-required="!dedupeCtrl.dedupeRecord.resolve.type" ng-change="dedupeCtrl.resolveWithMax()">
                            <span translate>Use max</span>
                            <span class="value" ng-bind="'(' + dedupeCtrl.getMax() + ')'"></span>
                        </label>
                    </div>
                </div>
                <div class="resolve-actions row" ng-show="dedupeCtrl.dedupeRecord.getDedupeType() == 'PURE'">
                    <div class="resolve-action-sum col-sm-12">
                        <label>
                            <input value="sum" type="radio" ng-model="dedupeCtrl.dedupeRecord.resolve.type" ng-required="!dedupeCtrl.dedupeRecord.resolve.type" ng-change="dedupeCtrl.resolveWithSum()">
                            <span translate>Use sum</span>
                            <span class="value" ng-bind="'(' + dedupeCtrl.getSum() + ')'"></span>
                        </label>
                    </div>
                </div>
                <div class="resolve-actions row">
                    <div class="resolve-action-custom col-sm-12">
                        <label>
                            <input value="custom" type="radio" ng-model="dedupeCtrl.dedupeRecord.resolve.type" ng-required="!dedupeCtrl.dedupeRecord.resolve.type" ng-change="dedupeCtrl.resolveWithCustom()">
                            <span translate>Use a custom value</span>
                        </label>
                        <span class="value">
                            <input name="resolveNumber"
                                   type="number"
                                   min="0"
                                   max="{{::dedupeCtrl.getSum()}}"
                                   ng-model="dedupeCtrl.dedupeRecord.resolve.value"
                                   ng-required="dedupeCtrl.dedupeRecord.resolve.type == 'custom'"
                                   ng-change="dedupeCtrl.dedupeRecord.resolve.type = 'custom'" />
                        </span>
                        <div class="error-messages" ng-messages="dedupeRecordForm.resolveNumber.$error">
                            <div ng-message="required">
                                When selecting to use a custom value you have to provide a value.
                            </div>
                            <div ng-message="min">
                                This value should be a positive number (not decimal)
                            </div>
                            <div ng-message="max">
                                A value larger than the sum is not allowed.
                            </div>
                            <div ng-message="number">
                                This value should be a number.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="resolve-actions row">
                    <div class="resolve-action-button col-sm-12">
                        <button type="button"
                                class="btn btn-primary"
                                ng-click="dedupeCtrl.resolve()"
                                ng-disabled="dedupeRecordForm.$invalid || dedupeCtrl.isProcessing"
                                translate>Resolve</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
