.dedupe-wrap
  border-color: #CCCCCC
  margin-bottom: 30px
  position: relative
  transition: all linear 200ms

  &.ng-enter
    animation: bounceInLeft 400ms
    -webkit-animation: bounceInLeft 400ms

  &.ng-leave
    animation: bounceOutRight 400ms
    -webkit-animation: bounceOutRight 400ms

  &.ng-enter-stagger, &.ng-leave-stagger
    animation-delay: 100ms
    -webkit-animation-delay: 100ms



  .dedupe-resolve-actions
    .resolve-wrap
      border: 1px solid transparent
      border-radius: 5px
      padding: 10px
      margin: 0 auto
      width: 75%

  .resolve-action-button button
    margin-top: 20px
    width: 100%

  &.ng-valid .dedupe-details
    background-color: green

  &.ng-invalid.ng-dirty .dedupe-details
    background-color: #CA0000

  .dedupe-details
    position: relative
    background: rgb(228, 121, 0)
    padding: 10px
    margin: 5px -20px 5px -30px
    color: #FFFFFF
    -webkit-box-shadow: 0px 2px 4px #888
    -moz-box-shadow: 0px 2px 4px #888
    box-shadow: 0px 2px 4px #888
    margin-bottom: 20px

    &:before
      content: ' '
      position: absolute
      width: 0
      height: 0
      left: 0px
      top: 100%
      border-width: 5px 5px
      border-style: solid
      border-color: #103A5A #103A5A transparent transparent

    .dataelement-name
      font-size: 1.3em
      font-weight: bold

    .organisation-unit-name,
    .period-name
      font-weight: bold

  .dedupe-data-table
    font-size: 1.1em

    .table-header
      font-weight: bold
      border-bottom: 1px solid #DDDDDD
      border-bottom: 1px solid #DDDDDD

    .table-data.row
      border-bottom: 1px solid #DDDDDD

      &.odd
        background-color: #EEEEEE

      &.even

      div
        line-height: 2em

      .value
        text-align: right