@import "../variables"
@import "../dedupe/dedupe-directive"
@import "../notify/notify"
@import "../dhis2reset"
@import "../orgunitparents/orgunitparents"
@import "../dataelementinfo/dataelementinfo"

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display: none !important

*
  box-sizing: border-box

body
  font-size: 14px

.app-content-wrap
  margin: 75px auto 0 auto
  max-width: 1200px
  position: relative
  width: 60%

  h1.app-header
    color: #3E606F
    display: inline-block
    font-size: 2em
    font-weight: normal
    margin-top: 0


.loading-mask
  background: transparent
  background: rgba(0, 0, 0, 0.2)
  position: fixed
  height: 100%
  left: 0
  top: 0
  width: 100%
  z-index: 4

  .loading-mask-content
    color: #FFFFFF
    position: relative
    left: 25%
    background-color: #276696
    width: 50%
    top: 30%
    padding: 30px
    border-radius: 8px
    text-align: center
    font-size: 1.1em

.dedupe-records
  margin-bottom: 200px

.resolve-footer
  left: 0
  padding: 10px 10%
  position: fixed
  background-color: #FFF
  background-color: rgba(255,255,255, 0.8)
  border-top: 1px solid #CCC
  bottom: 0
  width: 100%
  z-index: 3

  span, label
    line-height: 34px

.dedupe-filter-settings
  transition: all linear 300ms
  margin: 0 auto

  & > div
    margin-bottom: 30px

  .organisation-unit
    margin-bottom: 20px

  .period-selector.row,
  .dedupe-type-buttons
    margin-top: 20px

  .filters-cog
    display: none

  &.filter-dropdown
    z-index: 14

    .filters-cog
      display: block
      min-height: 34px
      position: relative

      button
        position: absolute
        right: 0

.dedupe-confirm-box
  background-color: rgba(255, 255, 255, .4)

  .modal-content
    background: #FFFFFF
    background-color: rgba(255, 255, 255, .85)
    padding: 15px

    button
      margin-right: 30px

.dedupe-type-buttons
  button
    display: table-cell
    width: 49%

    &:last-child
      float: right

.dedupe-type
  background: darkgreen
  margin: 10px 5px 0px
  padding: 5px 10px
  color: orange

.dedupe-download-csv
  margin-bottom: 30px
  text-align: right

.page-goto
  width: 50%
  margin: 0 auto

  button
    vertical-align: top
    margin: 0 auto
    min-width: 294px
    max-width: 294px

  label
    margin-right: 1rem
    display: block

    span
      min-width: 210px
      max-width: 210px
      display: inline-block

  input.form-control
    width: 5rem
    display: inline-block
    width: 8rem
    text-align: right
    font-weight: normal

.message-all-resolved
  font-size: 2rem
  color: green
  padding-bottom: 1rem

  .fa
    margin-right: 1rem
